<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo88.logistics_erp.hr.dao.AttendanceDAO">
	<!-- 근태 관리 -->
	<!-- 근태 조회 -->
	<select 
		id="selectAttendacne"
		resultType="AttendanceDTO">
		SELECT rownums, id, application_date, begin_date, end_date, reason, state, attendance_cd_id
		  FROM (
					SELECT ROWNUM as rownums, attendance.*
					  FROM attendance
					 ORDER BY id DESC
				)				
	</select>
	
	<!-- 근태 입력 -->
	<insert 
		id="insertAttendance"
		parameterType="AttendanceDTO">
		INSERT INTO attendance (id, application_date, begin_date, end_date, reason, state, attendance_cd_id)
		VALUES(#{id}, #{application_date}, #{begin_date}, #{end_date}, #{reason}, #{state}, #{attendance_cd_id})
	</insert>
	<!-- 근태 현황 -->
<!-- 	<select -->
<!-- 		id="" -->
<!-- 		parameterType="AttendanceDTO" -->
<!-- 		resultType="AttendanceDTO"> -->
<!-- 		SELECT *  -->
<!-- 		  FROM attendance -->
<!-- 		 WHERE state= -->
<!-- 		  <if test=""> -->
<!-- 		  	AND  -->
<!-- 		  </if> -->
	
<!-- 	</select> -->
	<!-- 출퇴근 기록부 -->
	<select 
		id="commutingRecords" 
		resultType="CommuteDTO">
		SELECT * FROM commute
	</select>
	
	<!-- 출퇴근 입력 -->
	<insert 
		id="insertCommute"
		parameterType="CommuteDTO">
		INSERT INTO commute (id, work_date, begin_date, end_date, night_time, over_time, attendance_id, employee_id)
		VALUES(commute_seq.nextval, #{work_date}, #{begin_date}, #{end_date}, #{night_time}, #{over_time}, #{attendance_id}, #{employee_id})
	</insert>
</mapper>