<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo88.logistics_erp.hr.dao.ConfigurationDAO">
	<!-- 근태 파트 -->
	<!-- 기초 환경 설정 -->
	<!-- 근태 항목 조회 -->
	<select
		id="attendanceCodeList"
		resultType="AttendanceCodeDTO">
		SELECT * FROM attendance_cd
	</select>
	
	<!-- 근태 항목 등록 -->
	<insert
		id="insertAttendanceCode"
		parameterType="AttendanceCodeDTO">
		INSERT INTO attendance_cd (id, name, type, enabled)
		VALUES(#{id}, #{name}, #{type}, #{enabled})
	</insert>
	<!-- 사원별 휴가 일수 조회 -->
	<!-- 급여관리 -->
	<!-- 호봉 테이블 -->
</mapper>