<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo88.logistics_erp.hr.dao.HRDAO">
	<!-- 근태 파트 -->
	<!-- 기초 환경 설정 -->
	<!-- 근태 항목 조회 -->
	<select
		id="attendanceCodeList"
		resultType="AttendanceCodeDTO">
		SELECT * FROM attendance_cd
	</select>
	
	<!-- 근태 항목 등록 -->
	<insert
		id="insertAttendanceCode"
		parameterType="AttendanceCodeDTO">
		INSERT INTO attendance_cd (id, name, type, enabled)
		VALUES(#{id}, #{name}, #{type}, #{enabled})
	</insert>
	<!-- 사원별 휴가 일수 조회 -->
	<!-- 급여관리 -->
	<!-- 호봉 테이블 -->

	<!-- 근태 관리 -->
	<!-- 근태 조회 -->
	<select 
		id="selectAttendacne"
		resultType="AttendanceDTO">
		SELECT * FROM attendance	
	</select>
	
	<!-- 근태 입력 -->
	<insert 
		id="insertAttendance"
		parameterType="AttendanceDTO">
		INSERT INTO attendance (id, application_date, begin_date, end_date, reason, state, attendance_cd_id)
		VALUES(#{id}, #{application_date}, #{begin_date}, #{end_date}, #{reason}, #{state}, #{attendance_cd_id})
	</insert>
	<!-- 근태 현황 -->
	<!-- 출퇴근 기록부 -->
	<select 
		id="commutingRecords" 
		resultType="CommuteDTO">
		SELECT * FROM commute
	</select>

	<!-- 휴가 관리 -->
	<!-- 휴가 잔여일수 현황 -->
	<select
		id="useHolidayNum"
		resultType="HolidayUsageStatusDTO">
		SELECT * FROM holiday_use_status
	</select>
	<!-- 휴가 사용실적 -->
	<!-- 근태 집계표 -->

	<!-- 급여 대장 -->
	<!-- 월별 지급 및 현황 -->
	<!-- 급여 통계 -->
	<!-- 근로 소득 -->

	<!-- 급여 전표 관리 -->
	<!-- 전표 생성 -->
	<!-- 전표 집계 -->
</mapper>