<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kosmo88.logistics_erp.purchase.dao.PurchaseDAO">
 	
 	<!-- 거래처 갯수 가져오기 -->
 	<select id="getClientCnt" resultType="int">
 		SELECT COUNT(id)
 		  FROM client
 		 WHERE type = '구매'
 	</select>

	<!-- 거래처(구매처) 목록	 -->
 	<select id="getClientList" resultType="PurchaseClientDTO">
 		SELECT id, name, register_num, ceo_name, phone, address, register_date
 		  FROM client
 		 WHERE type = '구매'
 	</select>
 
	<!-- 거래처 등록 처리 -->
	<insert id="RegisterClient" parameterType="PurchaseClientDTO">
		INSERT INTO client(id, type, name, ceo_name, register_num, email, address, detail_address, phone, zip_code)
		VALUES (client_seq.nextval, '구매', #{name}, #{ceo_name}, #{register_num}, #{email}, #{address}, #{detail_address}, #{phone}, #{zip_code})
	</insert>

	<!-- 상품 등록 처리 -->
	<insert id="RegisterItem" parameterType="PurchaseItemDTO">
		INSERT INTO item(id, name item_name, category, price)
		VALUES (item_seq.nextval, #{item_name}, #{category}, #{price})
	</insert>
 
</mapper>