<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo88.logistics_erp.sale.dao.SalesDAO">

<!-- 거래처 갯수 -->
<select id="getClientCnt" resultType="int">
	SELECT COUNT(*) as cnt FROM client WHERE TYPE = '판매'
</select>
<!-- 거래처 조회 -->
<select id="getClientList" resultType="com.kosmo88.logistics_erp.sale.dto.SalesClientDTO" parameterType="java.util.Map">
	<![CDATA[
	SELECT * 
      FROM (SELECT id, type, name, ceo_name, register_num, email, address, detail_address, zip_code, phone, register_date, ROWNUM rNum
              FROM(SELECT * FROM client WHERE type='판매' ORDER BY register_date DESC)
         )
     WHERE rNum >= #{start} AND rNum <= #{end}
	]]>
	
</select>

<!-- 거래처 상세 페이지 -->
<select id="getClientDetail" parameterType="int" resultType="com.kosmo88.logistics_erp.sale.dto.SalesClientDTO">
	SELECT * FROM client WHERE id=#{id}
</select>

<!-- 거래처 등록 -->
<insert id="registerClient" parameterType="com.kosmo88.logistics_erp.sale.dto.SalesClientDTO">
	INSERT INTO client (id, type, name, ceo_name, register_num, email, address, detail_address, zip_code, register_date, phone)
 		VALUES(4, '판매', #{name}, #{ceo_name}, #{register_num}, #{email}, #{address}, #{detail_address}, #{zip_code}, sysdate, #{phone});
</insert>

<!-- 거래처 수정 -->
<update id="updateClient" parameterType="com.kosmo88.logistics_erp.sale.dto.SalesClientDTO">
	UPDATE client 
	   SET name=#{name}, ceo_name=#{ceo_name}, phone=#{phone}, email=#{email}, register_num=#{register_num}, zip_code=#{zip_code}, address=#{address}, detail_address=#{detail_address}
	 WHERE id=#{id} 
</update>

<!-- 거래처 삭제 -->
<delete id="deleteClient" parameterType="int">
	DELETE FROM client WHERE id=#{id}
</delete>

</mapper>