<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo88.logistics_erp.hr.dao.SalaryDAO">
	<!-- 급여 대장 -->
	<!-- 월별 지급 및 현황 -->
	<select
		id="monthlyPaymentAndStatus"
		resultType="SalaryDTO">
		SELECT id
		, basic_pay
		, overtime_pay
		, bonus
		, meal_fee
		, income_tax
		, payday
		, (basic_pay + overtime_pay + bonus + meal_fee - income_tax) employee_salary
		, payment_status
		, employee_id
		FROM salary
	</select>
	<!-- 급여 통계 -->
	<!-- 근로 소득 -->

	<insert
		id="insertSalaryAction"
		parameterType="SalaryDTO">
		INSERT INTO salary(id, overtime_pay, bonus, meal_fee, income_tax, payday, payment_status, employee_id, basic_pay)
		VALUES(salary_seq.nextval,#{overtime_pay},#{bonus},#{meal_fee},#{income_tax},#{payday},#{payment_status},#{employee_id},#{basic_pay})
	</insert>
</mapper>