<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosmo88.logistics_erp.wms.dao.OutboundDao">

<!-- RX_PURCHASE request 를 가져온다 -->
<select id="allOutboundList" resultType="V_outboundDto">
		SELECT *
		FROM V_OUTBOUND
	</select>


	<select id="selectSalesList" resultType="V_salesDto">
		SELECT *
		FROM V_SALES
		WHERE
		STATE = 'RX_SALES'
	</select>

	<select id="selectItemList" parameterType="int"
		resultType="V_sales_itemDto">
		SELECT * FROM V_REQUEST_ITEM
		WHERE REQUEST_ID = #{requestId}
	</select>

	<select id="selectDispatchedOutboundList" parameterType="int"
		resultType="V_outboundDto">
		SELECT *
		FROM V_OUTBOUND
		WHERE WAREHOUSE_ID = #{warehouseId}
	</select>

	<select id="selectMaxId" resultType="int">
		SELECT MAX_ID('OUTBOUND')
		FROM DUAL
	</select>

	<select id="selectOne" parameterType="int"
		resultType="V_salesDto">
		SELECT * FROM V_SALES
		WHERE REQUEST_ID = #{requestId}
	</select>
	
	<select id="selectShippedOutboundList" parameterType="int"
		resultType="V_inboundDto">
		SELECT *
		FROM V_OUTBOUND
		WHERE WAREHOUSE_ID = #{warehouseId}
		AND SHIPPED_DATE IS NOT NULL
	</select>
	
	
	<update id="updateShippedDate" parameterType="int">
		UPDATE OUTBOUND SET
		SHIPPED_DATE = SYSDATE
		WHERE REQUEST_ID = #{requestId}
	</update>

	<!-- 출하 요청 등록 -->
	<!-- <insert id="insert" parameterType="V_salesDto"> -->
	<insert id="insertOutbound" parameterType="Map">
		INSERT INTO OUTBOUND (ID, REQUEST_ID, WAREHOUSE_ID)
		VALUES(#{inboundId},#{requestId} , #{warehouseId})

	</insert>


	<!-- 구매 비활성화 -->
	<update id="updateState" parameterType="int">
		UPDATE REQUEST SET
<!-- 		ENABLED = 'N' -->
		STATE = 'RX_OUTBOUND'
		WHERE ID = #{requestId}
		AND STATE='RX_SALES'
	</update>
</mapper>


