<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.kosmo88.logistics_erp.wms.dao.ReceivingDao">

	<insert id="insert"
		parameterType="com.kosmo88.logistics_erp.wms.dto.ReceivingDto">
		INSERT INTO receiving
		(ID, warehouse_id , departure_id, item_id, count)
		VALUES(
		#{id},
		#{warehouseId}, #{departureId}, #{itemId}, #{count}
		)
	</insert>

	<select id="inboundList" parameterType="int"
		resultType="InboundDto">
		SELECT *
		FROM INBOUND
		WHERE WAREHOUSE_ID = #{warehouseId}
	</select>

	<select id="select"
		resultType="com.kosmo88.logistics_erp.wms.dto.ReceivingDto">
		<!-- select * from warehouse; -->
		SELECT *
		FROM RECEIVING
		WHERE WAREHOUSE_ID = 1
		ORDER BY ID DESC
	</select>


</mapper>    