<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo88.logistics_erp.wms.dao.SectionDao">



	<!-- 입고시 insert 처리한다 -->
	<insert id="insert" parameterType="SectionDto">
		INSERT INTO SECTION (ID, WAREHOUSE_ID, SECTION, CAPACITY)
		VALUES(
		MAX_ID('SECTION') + 1 , #{warehouse_id}, #{section} , #{capacity}
		)
	</insert>

<!-- 보류 -->
	<select id="selectMaxId" resultType="int">
		SELECT MAX_ID('SECTION')
		FROM DAUL
	</select>
	
	<select id="selectLastSection" 
	parameterType="int" resultType="string">
<!-- 		SELECT *  -->
<!-- 		FROM V_LAST_SECTION -->
<!-- 		WHRER WAREHOUSE_ID=#{warehouseId} -->
		SELECT F_GET_LAST_SECTION(#{WAREHOUSE}) FROM DUAL
	</select>

	<select id="selectNewSection" 
	parameterType="int"
	resultType="string">
		SELECT NEW_SECTION(#{warehouseId})
		FROM DAUL
	</select>



	<!-- 섹션 목록 -->
	<select id="sectionList" parameterType="int"
		resultType="V_sectionDto">
		SELECT * FROM V_SECTION
		WHERE WAREHOUSE_ID = #{warehouseId}
		<!-- AND ITEM_ID = 1 -->
	</select>


	<!-- 빈 섹션 -->
	<select id="selectValidSectionList" parameterType="Map"
		resultType="V_sectionDto">
		SELECT ROWNUM, S.* 
		FROM V_SECTION S 
		WHERE (ITEM_ID IS NULL 
		OR ITEM_NAME IN 
			<foreach collection="itemArr" item="item" separator="," open="(" close=")" >
				#{item}
			</foreach>
			)
		AND S.WAREHOUSE_ID = #{warehouseId}
<!-- 		AND ROWNUM BETWEEN 1 AND #{rowNum} -->
	</select>

</mapper>    	
