<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스 : 작업할 클래서 -->
<!-- id : 어디서쓰는거지? (메소드??) 클래스에 종속적이다 parameterType : 뭔가 받아오는 데이터? 보통 Dto 
	형으로 설정. (insert등에??) resultType : dto -->
<!-- <typeAliases> 내부에 <typeAlias alias="" type=""으로 앨리어싱> 여기에 작성한 내용을 다른 
	태그의 parameterType에서 사용? 대부분 생략한다고 한다 -->
<mapper
	namespace="com.kosmo88.logistics_erp.wms.dao.WarehouseDao">

	<insert id="insert"
		parameterType="WarehouseDto">
		INSERT INTO WAREHOUSE
		(ID, NAME, ADDRESS)
		VALUES(
		#{id},
		#{name}, #{address}
		)
	</insert>

	<!-- warehouse -->
	<select id="selectSimpleList"
		resultType="V_warehouse_simpleDto">
		<!-- select * from warehouse; -->
		SELECT * FROM V_WAREHOUSE_SIMPLE
	</select>

	<select id="selectDetailList"
		resultType="V_warehouse_detailDto">
		<!-- select * from warehouse; -->
		SELECT * FROM V_WAREHOUSE_DEATIL
	</select>

	<select id="selectOne" parameterType="int"
		resultType="WarehouseDto">
		SELECT *
		FROM WAREHOUSE
		WHERE ID=#{id}
		<!-- WHERE ID=1 -->
	</select>

	<select id="selectMaxId" resultType="int">
		SELECT MAX(ID) FROM
		WAREHOUSE
	</select>


</mapper>    