<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kosmo88.logistics_erp.member.dao.UserDAO">
	<select
		id="getUserData"
		parameterType="String"
		resultType="UserDTO">
		SELECT id, password, employee_id, enabled, authorities
		FROM member
		WHERE id = #{id}
	</select>

	<insert
		id="insertUser"
		parameterType="UserDTO">
		INSERT INTO member(id, password, enabled, authorities, employee_id)
		VALUES(#{id}, #{password}, #{enabled}, #{authorities}, #{employee_id})
	</insert>
</mapper>